html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    background: linear-gradient(#8b9da9, #fff6e4)
}

.calculator {
  max-width: 320px;
}

.calculator__display {
  padding: 10px;
  font-size: 4em;
  text-align: right;
  background-color: grey;
}

.calculatorUI {
  display: flex;
  flex-wrap: wrap;
  /* mix-blend-mode: overlay; */
}

button {
  flex: 0 1 25%;
  height: 70px;
  color: #111;
  font-size: 2em;
  /* mix-blend-mode: overlay; */
  background: #e0e0e0;
  border: 1px solid #c7c7c7;
  cursor: pointer;
}

.btn--opaque {
  background-color: #f5913e;
}

.btn--large {
  flex: 0 1 50%;
}